* {
    -fx-main-background: "#FFFFFF";
    -fx-color-error: "#B00020";
}

.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16;
    -fx-background-color: "#DDDDDD"
}

.root.form {
    -fx-background-color: "#FFFFFF";
    -fx-padding: 8;
}

.top-header {
    -fx-pref-height: 56;
    -fx-font-size: 1.5em;
    -fx-background-color: "#0065A3";
    -fx-padding: 0 16;
}

.top-header Label {
    -fx-text-fill: "#FFFFFF";
    -fx-font-weight: 100;
}

.top-header HBox {
    -fx-alignment: center-left;
}

#mainPane, .new-message, .button-pane {
    -fx-padding: 8;
    -fx-spacing: 8;
}

.jfx-text-field {
    -fx-prompt-text-fill: #000000;
}

.collocutor-root {
    -fx-pref-height: 64;
    -fx-padding: 16;
}

.collocutor-name {
    -fx-font-size: 16;
    -fx-text-fill: "#000000DE";
}

.collocutor-extensions {
    -fx-font-size: 14;
    -fx-text-fill: "#00000099";
}

#messageView, #collocutorView {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-focus-color: "#000000";
    -fx-selection-bar-text: red;
}

#collocutorView .list-cell {
    -fx-background-color: "#FFFFFF";
    -fx-padding: 0;
    -fx-cursor: hand;
}

#collocutorView .list-cell:empty, #collocutorView .list-cell:empty:hover {
    -fx-background-color: "#FFFFFF";
    -fx-cursor: default;
}

#collocutorView .list-cell:hover {
    -fx-background-color: "#9C9908";
}

.empty .list-cell {
    -fx-background-color: "#000000";
}

#collocutorView .list-cell:selected, #collocutorView .list-cell:selected:hover, #collocutorView .list-cell:selected:pressed, .contact-selection .contact-list .list-cell:selected {
    -fx-background-color: "#BDBA13";
}

#collocutorView .list-cell:selected .collocutor-name, #collocutorView .list-cell:hover .collocutor-name, .contact-list .list-cell:selected {
    -fx-text-fill: "#FFFFFF";
}

#collocutorView .list-cell:selected .collocutor-extensions, #collocutorView .list-cell:hover .collocutor-extensions {
    -fx-text-fill: "#EEEEEE";
}

#contactStatus.offline {
    -fx-font-size: 14;
    -fx-text-fill: "#FF0000";
}

#contactStatus.online {
    -fx-font-size: 14;
    -fx-text-fill: "#00AA00";
}

.message .message-container {
    -fx-padding: 12;
}

.message #text {
    -fx-wrap-text: true;
}

.message .notary-icon {
    -fx-font-size: 0;
    visibility: hidden;
}

.message.acknowledged .notary-icon {
    visibility: visible;
}

.message.acknowledged #text {
    -fx-padding: 0 24 0 0;
}

.own-message {
    -fx-alignment: center-right;
}

.other-message {
    -fx-alignment: center-left;
}

.own-message .message-container {
    -fx-background-color: "#009EFF";
    -fx-background-radius: 12 0 12 12;
}

.other-message .message-container {
    -fx-background-color: "#DDDDDD";
    -fx-background-radius: 0 12 12 12;
}

.message #sender {
    -fx-font-size: 12;
    -fx-padding: 0 0 4 0;
}

.own-message Label, #messageView .list-cell:selected.own-message Label {
    -fx-text-fill: "#FFFFFF";
}

.other-message #text, #messageView .list-cell:selected.other-message #text {
    -fx-text-fill: "#000000DE";
}

.own-message SVGPath {
    -fx-fill: "#FFFFFF";
}

.other-message SVGPath {
    -fx-fill: "#000000DE";
}

.message #sender, #messageView .list-cell:selected.message #sender {
    -fx-text-fill: "#00000099";
}

Button {
    -fx-cursor: hand;
}

.outline-button {
    -fx-background-color: "#9C9908";
    -fx-background-radius: 4;
    -fx-pref-height: 36;
    -fx-min-width: 64;
    -fx-padding: 0 16;
    -fx-font-size: 14;
    -fx-text-fill: "#FFFFFF";
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 0, 0, 0, 1);
}

.outline-button SVGPath {
    -fx-fill: "#FFFFFF";
}

.outline-button:hover, .outline-button:focused {
    -fx-background-color: "#BDBA13";
}

.outline-button:pressed {
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 0, 0, 0, 0);
}

.icon-button {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-padding: 12;
}

.icon-button SVGPath {
    -fx-fill: "#FFFFFF";
}

.icon-button:focused SVGPath, .icon-button:hover SVGPath {
     -fx-fill: "#BDBA13";
}

.icon-button:pressed SVGPath {
     -fx-fill: "#9C9908";
}

#messageField, .form-field-text {
    -fx-background-insets: 1;
    -fx-background-radius: 4;
    -fx-border-width: 1;
    -fx-border-color: "#999999";
    -fx-border-radius: 4;
    -fx-pref-height: 36;
    -fx-font-size: 14;
    -fx-background-color: #FFFFFF;
    -fx-prompt-text-fill: #00000099;
}

#messageField:hover {
    -fx-border-color: "#BDBA13";
}

#messageField:focused {
    -fx-border-width: 2;
    -fx-border-color: "#BDBA13";
}

.button-pane {
    -fx-alignment: center-right;
}

.form-field .form-field-box {
    -fx-padding: 6 0 18 0;
    -fx-min-height: 80;
}

.form-field-text {
    -fx-padding: 16 14;
    -fx-font-size: 16;
    -fx-min-width: 300;
}

.form-field-label, .form-field-error {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12;
    -fx-padding: 0 4;
    -fx-text-fill: #00000099;
    visibility: hidden;
}

.form-field.focused .form-field-label {
    -fx-text-fill: "#9C9908";
    visibility: visible;
}

.form-field.focused .form-field-text {
    -fx-prompt-text-fill: "#FFFFFF";
    -fx-border-color: "#9C9908";
    -fx-border-width: 2;
    -fx-padding: 15 13;
}

.contact-selection .contact-list {
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-padding: 1;
    -fx-border-width: 1;
    -fx-border-color: "#999999";
    -fx-border-radius: 4;
}

.contact-selection.focused .contact-list {
    -fx-border-color: "#9C9908";
    -fx-border-width: 2;
    -fx-padding: 0;
}

.contact-selection .contact-list .list-cell {
    -fx-background-color: "#FFFFFF";
    -fx-cursor: hand;
    -fx-padding: 8 16;
    -fx-text-fill: #000000de;
}

.contact-selection .contact-list .list-cell:empty {
    -fx-cursor: default;
}

.form-field.error .form-field-label, .form-field.focused.error .form-field-label {
    -fx-text-fill: -fx-color-error;
    visibility: visible;
}

.form-field.error .form-field-label, .form-field.error .form-field-error, .contact-selection.error .form-field-error {
    -fx-text-fill: -fx-color-error;
    visibility: visible;
}

.form-field.error .form-field-text, .form-field.focused.error .form-field-text {
    -fx-prompt-text-fill: "#FFFFFF";
    -fx-border-color: -fx-color-error;
    -fx-border-width: 2;
    -fx-padding: 15 13;
}

.form-field.error .form-field-error {
    visibility: visible;
    -fx-text-fill: -fx-color-error;
}

.title {
    -fx-padding: 0 0 16 0;
}